<section class="cursos">
  <div class="title">
    <h1 >EXPERIENCIAS</h1>
    <h1 >CURSOS</h1>
  </div>
  <div class="exp_container">
    <div class="exp"><h3>Freelancer de Desenvolvimento Frontend Angular - SmartScan</h3>
      Desenvolvimento de novos recursos e telas, usando Angular Material e Bootstrap para estilização.
      </div>
    <div class="curso"><h3>Análise e Desenvolvimento de Sistemas - UFTM - Campus Uberaba Parque Tecnológico</h3>
      Graduação focada em programação: algoritmos, estruturas de dados, orientação a objetos e engenharia de software.
      </div>
  </div>
  <div class="exp_container">
    <div class="exp"><h3>Desenvolvedor de processos - LegentConsulting</h3>
      Desenvolvimento de scripts de coleta de dados e automação.
      Criação de indicadores e análise de dados.
      Criação de DataBoards em JavaScript.</div>
    <div class="curso"><h3>Curso Web Moderno com JavaScript - Cod3r</h3>
      O curso aborda fortemente os conceitos de desenvolvimento web com os principais frameworks do mercado: Node, React, Angular, Vue.
      </div>
  </div>
  <div class="exp_container">
    <div class="exp"><h3>Analista de Sistemas - Pró Automação</h3>
      Desenvolvimento e implementação de projetos de automação.
      Suporte e treinamento para clientes com projetos em implementação.
      </div>
    <div class="curso"><h3>API REST em Node.Js aplicando testes (TDD) - Cod3r</h3>
      Curso que aborda os principais conceitos de APIs e padrão TDD (Test Driven Development) usando Node e Jest.
      </div>
  </div>

</section>
