.sobre {
  height: 100vh;
  background-color: #fafafa;
  padding: 100px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  width: 50%;

  .subtitle {
    text-align: justify;
    font-family: 'Source Sans Light', sans-serif;
    font-weight: 450;
  }
}

.title {
  width: 100%;
  font-family: 'Source Sans Black', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.conteudo {
  display: flex;
  padding-top: 80px;

  .title {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: none;
    text-align: justify;
    padding-bottom: 10px;
  }

  .main_text {
    font-family: 'Source Sans Light', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 0.9rem;
  }

  p {
    padding-bottom: 10px;
    text-align: justify;
  }

  .set_skills {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    font-size: 0.7rem;
    background: rgba(153, 153, 153, .2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
  }


}
