<section class="sobre">
  <div class="heading">
    <span class="title">
      <h1>Sobre mim</h1>
    </span>
    <span>
      <p class="subtitle">
        Aqui você encontra mais informações sobre mim, sobre minhas experiências e estudos.
      </p>
    </span>
  </div>
  <div class="conteudo row">
    <div class="content col-6">
      <h3 class="title">Me conheça melhor.</h3>
      <span class="main_text">
        <p>Tenho 29 anos, natural de Uberaba - MG. Fui criado por um pai nerdTech, meu primeiro PC foi um MMX 233 quando
          tinha 6 anos e desde então virei um grande entusiasta de tecnologia, sempre focando meus estudos e empregos
          nesta área.</p>

        <p>Comecei trabalhando com projetos de automação, programando e implementando CLPs em ladder. Depois migrei para
          a área comercial desenvolvendo muito minhas habilidades de comunicação, trabalho em equipe, gestão e
          treinamentos. Hoje a área comercial não me desafia tanto quanto eu gostaria e estou desenvolvendo minhas
          habilidades na área de tech, a principal linguagem que trabalhei é JavaScript com Node.Js e Angular.</p>

        <p>Sou muito comunicativo e analítico, bastante interessado em engenharia e novas tecnologias de desenvolvimento
          e estou aberto a novas oportunidades de trabalho onde eu possa contribuir, aprender e crescer. Sinta-se à
          vontade para entrar em contato através do formulário abaixo.</p>
      </span>
    </div>
    <div class="skills col-6">
      <div>
        <h2 class="title">My Skills</h2>
      </div>
      <div class="set_skills">
        <div class="skill" *ngFor="let item of langs">
          <div class="item_name">{{ item.name }}</div>
          <div class="item_anos " *ngIf="item.anos == 1; else plural">{{ item.anos}} ano</div>
          <ng-template #plural>{{ item.anos}} anos</ng-template>
        </div>
      </div>

    </div>
  </div>

</section>
