/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Adicione um estilo 'border-box' em todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Adicione um estilo 'inherit' para campos de formulário */
input,
button,
textarea,
select {
  font: inherit;
}

/* Corrigir estilos para elementos HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remover estilos padrão de listas */
ol,
ul {
  list-style: none;
}

/* Remover sublinhado de links */
a {
  text-decoration: none;
}

* {
  font-family: 'Source Sans',sans-serif;
  line-height: 1.5;
}

@font-face {
  font-family: 'Source Sans Light';
  src: url(../src/assets/static/SourceSans3-Light.ttf) format('truetype');
  /* Adicione outras variações da fonte, como negrito ou itálico, se disponíveis */
}

@font-face {
  font-family: 'Source Sans Black';
  src: url(../src/assets/static/SourceSans3-Black.ttf) format('truetype');
  /* Adicione outras variações da fonte, como negrito ou itálico, se disponíveis */
}
